/*  ====================================== NAVBAR ======================================*/
.navbar-brand {
  font-size: 1.8rem;
  color: #813fbe;
  font-weight: 500;
}

/*  ====================================== FEATURE ======================================*/
.main-header {
  margin-top: 105px;
}

/*  ====================================== FEATURE ======================================*/
.feature-item img {
  width: 50px;
  height: auto;
}
