/*  ====================================== NAVBAR ======================================*/
.navbar-brand {
  font-size: 1.8rem;
  color: #813fbe;
  font-weight: 500;
}

/*  ====================================== HEADER ======================================*/
.main-header {
  margin-top: 105px;
}

/*  ====================================== FEATURE ======================================*/
.feature-item img {
  width: 50px;
  height: auto;
}

/*  ====================================== SUBSCRIBE ======================================*/
.subscribe {
  height: 200px;
  background-image: url(/assets/imgs/subscribe.jpg);
  background-position: center;
  background-size: cover;
}
